.f-TNR {
    font-family: "Times New Roman", Times, serif;
}

.f-Dio {
    font-family: 'Didot', serif;
}

.f-Cou {
    font-family: 'Courier', monospace;
}

.fw-1 {
    font-weight: 100;
}

.fw-5 {
    font-weight: 500;
}

.fw-9 {
    font-weight: 900;
}