
.contactImg{
    width:30px;
    height: 30px;
}

.contact-alignY{
    margin-top: 5px;
    margin-bottom: 5px;
}


.side-bar{
    width: 25%;
    background-color: rgb(231, 234, 240);
    margin-right: 5%;
}

.main-body{
    width: 70%;
}