
.contactImg{
    width: 15px;
    height: 15px;
}

.contact-alignY{
    margin-top: 1px;
    margin-bottom: 1px;
}

.resume-cat{
    color: rgb(0, 150, 255);
    border-bottom: 3px rgb(0, 150, 255) solid;
}

.side-bar{
    width: 21%;
    background-color: rgb(231, 234, 240);
    margin-right: 3%;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 25%;
}

.resume-shrink{
    margin-bottom: 1px;
    margin-top: 3px;
}

.main-body{
    width: 70%;
}